<main>
    <ul class="blog-posts">
        <% var posts=page.posts.sort('date', 'desc' ); %>
            <% posts.forEach(post=> { %>
                <li>
                    <span class="post-date">
                        <i>
                            <time>
                                <%= date(post.date, 'YYYY/MM/DD' ) %>
                            </time>
                        </i>
                    </span>
                    <a href="<%- url_for(post.path) %>"><%- post.title %></a>
                </li>
                <% }) %>
    </ul>
    <nav class="pagination">
        <% if (page.prev) { %>
            <a class="pagination-prev" href="<%- url_for(page.prev_link) %>">上一页</a>
        <% } else { %>
            <span class="pagination-prev disabled">上一页</span>
        <% } %>
        <% if (page.next) { %>
            <a class="pagination-next" href="<%- url_for(page.next_link) %>">下一页</a>
        <% } else { %>
            <span class="pagination-next disabled">下一页</span>
        <% } %>
    </nav>
</main>
